body{
    background-image: url(music-cukur-jenerik-muziği-cukur-original-soundtrack-live-eyeshield-21-sena-9b5e61ff22de87be4a14f940131258c0.png);
    background-repeat: no-repeat;
    background-position: 50%;
background-position: top;
background-color: red;
}
